html{
    background-color: #ffd480;
}

body{
    width: 900px;
    margin: 0 auto;
    background-color: #ffffcc;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}

h1{
    color: #002b80;
    text-align: center;
}

p{
    color: #002b80;
    text-align: center;
}